@model AddPersonVM

<p class="display-4">Dodawanie osobe</p>
<form asp-controller="Home" asp-action="AddPerson" method="POST" autocomplete="off" class="row p-4 mx-auto">

    <div class="form-group m-2">
        <label>Imię i nazwisko</label>
        <input asp-for="Name" type="text" class="form-control" id="name" onchange="NameCheck()">
        <span asp-validation-for="Name" class="text-danger"></span>
         <p id="status"></p>
    </div>

    <div class="form-group m-2">
        <label>Rodzic</label>
        <select asp-for="ParentId" asp-items="ViewBag.people" class="form-control">
            <option value="0">Nowa rodzina</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success m-2 mt-auto" >Dodaj</button>
</form>


<script>
    function NameCheck() {
        $("#status").html("Sprawdzanie dostępności");
        $.post("@Url.Action("CheckNameExist","Home")",
            {
                 name: $("#name").val()
            },
        function (data) {
            if (data == 0) {
                $("#status").html('<font color="Green">Imie i nazwisko nie istnieje w bazie</font>');
                $("#name").css("border-color", "Green");
                $('button').prop('disabled', false);
            }
            else {
                $("#status").html('<font color="Red">Imie i nazwisko istnieje w bazie</font>');
                $("#name").css("border-color", "Red");
                $('button').prop('disabled', true);
            }
        });
    }
</script>